<div class="container page-container">

  <h1><%= @user.full_name %>'s Portfolio</h1>

  <div class="tracking-container">
    <% if !@user.stocks.empty? %>
      <%= render "stocks_table", user: @user%>
    <% else %>
      <h5 class="font-weight-light font-italic text-center"><%= @user.full_name %> is currently not tracking any stocks.</h5>
    <% end %>
  </div>

</div>
