<% change_class = ""%>
<% change_text = "#{number_with_precision(change, precision: 2)}"%>
<% if change > 0 %>
  <% change_class = "text-success"%>
  <% change_text = "+#{change_text}"%>
<% elsif change < 0 %>
  <% change_class = "text-danger"%>
<% end %>
<span class="<%= change_class %>"><%=change_text%></span>
