@import 'bootstrap/dist/css/bootstrap';

// LAYOUT
// |-> Alert Messages
#alert-message-container {
  margin-top: 16px;
}

// NAVIGATION
// |-> User dropdown menu
@media (max-width: 575.98px) {
  .user-dropdown-collapse {
    display: none;
  }
}
@media (min-width: 576px) {
  #user-dropdown-expanded {
    display: none;
  }
}
.nav-expanded-icon {
  width: 16px;
  height: 16px;
}

// DEVISE USER PAGES (REGISTRATION, NEW, EDIT)
// |-> Container
.devise-user-container {
  margin-top: 50px;
}

// MY PORTFOLIO
// |-> View Container
#my-portfolio-container {
  margin-top: 20px;
}
// |-> Search Area
.search-area {
  margin-top: 50px;
}
// |-> Search Results
.search-block {
  display: inline-block;
}
// |-> User's Tracked Stocks
#users-tracked-stocks-container {
  margin: 50px 0;
}
