@import 'bootstrap/dist/css/bootstrap';

// LAYOUT

// |-> Alert Messages
#alert-message-container {
  margin-top: 16px;
}

// MY PORTFOLIO

// |-> Search Area
.search-area {
  margin-top: 50px;
}

// |-> Search Results
.search-block {
  display: inline-block;
}
