@import 'bootstrap/dist/css/bootstrap';

html,
body {
  height: 100%;
}

// LAYOUT
// |-> Main Application Container
#application-container {
  padding-top: 72px;
}

.page-container {
  margin-top: 100px !important;
}

// |-> Alert Messages
#alert-message-container {
  margin-top: 16px;
}

// NAVIGATION
@media (max-width: 767.98px) {
  .user-dropdown-collapse {
    display: none;
  }
}

@media (min-width: 768px) {
  #user-dropdown-expanded {
    display: none;
  }
}

.nav-expanded-icon {
  width: 16px;
  height: 16px;
}

// HOME PAGE
.cover-container {
  background-image: asset-url('welcome-bg.jpg') !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.inner-container {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .25);
  max-width: 42em;
  padding: 0 32px;
  background-color: rgba(255, 255, 255, .75);

  .btn-secondary,
  .btn-secondary:hover,
  .btn-secondary:focus {
    color: #333;
    text-shadow: none;
    /* Prevent inheritance from `body` */
    background-color: #fff;
    border: .05rem solid rgba(0, 0, 0, .25);
  }
}

// DEVISE USER PAGES (REGISTRATION, NEW, EDIT)
.devise-user-container {
  margin-top: 120px;
}

// MY PORTFOLIO
.search-area {
  margin-top: 50px;
}

// MY CONNECTIONS
.user-search-icon {
  height: 30px !important;
  width: 30px !important;
}

// TRACKING CONTAINER (used in My Portfolio and Connections)
.tracking-container {
  margin: 50px 0;
}

.action-icon {
  font-size: 1.5em;
}

#stocks-table-refresh-icon {
  transform: scale(-1, 1);
}

// STOCK SHOW PAGE
.no-border-top {
  border-top: 0 !important;
}

#news-header {
  border-bottom: 1px solid;
  border-color: #dee2e6;
  height: 48px;
}

#show-stocks-header {
  display: inline-block;
}

@media (max-width: 991.98px) {
  #news-container {
    margin-top: 30px;
  }
}

// SHARED UTILITES
.no-text-decoration {
  text-decoration: none !important;
}

.link-style {
  color: black;
  text-decoration: none !important;

  :hover {
    color: #0275d8;
  }
}

.search-buttons {
  width: 70px;
  height: 50px;
}
