<div class="row justify-content-center" id="alert-message-container">
  <% if notice %>
    <%= render "layouts/message", alert_type: "alert-success", alert_message: notice %>
  <% end %>
  <% if alert %>
    <%= render "layouts/message", alert_type: "alert-warning", alert_message: alert %>
  <% end %>
</div>
